@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

:root {
  --rojo: rgba(130, 57, 130, 1);
  --rojo90: rgba(130, 57, 130, 0.90);
  --rojo75: rgba(130, 57, 130, 0.75);
  --rojo50: rgba(130, 57, 130, 0.5);
  --rojo25: rgba(130, 57, 130, 0.25);
  --blanco: #ffffff;
  --blanco75: rgba(255, 255, 255, 0.75);
  --negro: #272727;
  --gris: rgba(92, 99, 106, 1);
  --gris95: rgba(92, 99, 106, 0.95);
  --gris85: rgba(92, 99, 106, 0.85);
  --gris60: rgba(92, 99, 106, 0.60);
  --gris10: rgba(92, 99, 106, 0.10);
  --violeta: rgba(255, 49, 49, 0.25);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--negro);
  letter-spacing: 0.1px;
}

a {
  color: var(--rojo);
  text-decoration: none;
}

a p {
  font-size: 0.9rem;
  color: var(--gris);
}

a .card svg {
  color: var(--rojo);
}

a .card {
  transition: all .2s linear;
}

a .card:hover {
  transform: scale(1.03);
  
}

a .h5 {
  font-size: 1.2rem;
  color: var(--negro);
}

a.colorLink {
  color: var(--rojo) !important;
  font-weight: bold;
}

a.colorLink:hover {
  color: var(--rojo75) !important;
  font-weight: bold;
}

li a {
  color: var(--negro);
}

li a:hover {
  color: var(--gris60);
}

.btn {
  letter-spacing: 0.2px;
}

.btn svg {
  margin-right: 5px;
  margin-bottom: 2px;
}

.btn-primary:focus-visible {
  color: var(--blanco);
  background-color: var(--rojo90);
  border-color: var(--rojo90);
}

.btn-primary {
  color: var(--blanco);
  background-color: var(--rojo);
  border-color: var(--rojo);
  border-radius: 5px;
  font-weight: 700;
  padding: 8px 20px;
  --bs-btn-focus-shadow-rgb: 255,49,49;
}

.btn-primary:hover {
  background-color: var(--rojo90);
  border-color: var(--rojo90);
  color: var(--blanco);
}

.btn-primary:active {
  background-color: var(--rojo75)!important;
  border-color: var(--rojo75)!important;
  color: var(--blanco)!important;
}

.btn-secondary {
  color: var(--blanco);
  background-color: var(--gris);
  border-color: var(--gris);
  border-radius: 5px;
  font-weight: 700;
  padding: 8px 20px;
  --bs-btn-focus-shadow-rgb: 255,49,49;
}

.btn-secondary:hover {
  background-color: var(--gris95);
  border-color: var(--gris95);
  color: var(--blanco);
}

.btn-secondary:active {
  background-color: var(--gris85)!important;
  border-color: var(--gris85)!important;
  color: var(--blanco)!important;
}

.btn-light {
  color: var(--rojo);
  background-color: var(--blanco);
  border-color: var(--blanco);
  border-radius: 5px;
  font-weight: 500;
  padding: 8px 20px;
  --bs-btn-focus-shadow-rgb: 255,49,49;
}

.btn-light:hover {
  background-color: var(--blanco75);
  border-color: var(--blanco75);
  color: var(--rojo);
}

.btn-light:active {
  background-color: var(--blanco75)!important;
  border-color: var(--blanco75)!important;
  color: var(--rojo)!important;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--rojo25);
  opacity: 1;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--blanco);
  background-color: var(--rojo75);
  border-color: var(--rojo75);
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--blanco);
  text-decoration: none;
  background-color: var(--rojo90);
}

.container-fluid {
  --bs-gutter-x: 0;
}

.index1 {
  z-index: 1 !important;
}

.index9999 {
  z-index: 9999 !important;
}

.container {
  background-color: var(--blanco);
}

h1 {
  font-weight: 400;
}

label {
  font-weight: 700;
}

.form-control:focus {
  border-color: var(--gris);
  box-shadow: 0 0 0 0.25rem var(--rojo25);
}

.form-control {
  border-radius: 5px;
}

.texto-rojo {
  color: var(--rojo);
}

.texto-gris85 {
  color: var(--gris85);
}

.texto-chico {
  font-size: 14px;
}

.fondo-rojo {
  background-color: var(--rojo);
}

.fondo-rojo75 {
  background-color: var(--rojo75);
}

.fondo-rojo50 {
  background-color: var(--rojo50);
}

.fondo-rojo25 {
  background-color: var(--rojo25);
}

.fondo-gris60 {
  background-color: var(--gris60);
}

.fondo-gris85 {
  background-color: var(--gris85);
}

.fondo-gris10 {
  background-color: var(--gris10);
}

.bg-primary {
  background-color: var(--rojo)!important;
}


.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Components/Home/CarruselBs/az-subtle.png'); /* Reemplaza 'ruta-de-la-imagen.png' con la ruta de tu imagen */
  opacity: 0.7; /* Ajusta la opacidad de la imagen según tus necesidades */
}

.accordion-button:focus{
  box-shadow: none;
}

ul li svg {
  margin-bottom: 2px;
}

/*Login*/
.errors {
  color: var(--rojo);
}

/*navbar*/
.navBar {
  border: 1px solid #dcdbdb;
}

.navBar-options a {
  list-style: none;
  padding: 12px;
  font-weight: 700;
  margin: 10px;
  text-decoration: none;
  color: var(--negro);
  letter-spacing: 0.2px;
}

.navBar-options a:hover {
  color: var(--rojo);
}

.logoApp {
  width: 150px;
}

li button .btn-primary {
  display: flex;
  align-items: center;
}

/*perfil profesional*/

.list-unstyled.profile li {
  color: var(--gris);
}

.list-unstyled.profile li svg {
  color: var(--rojo);
}

.imagen-perfil {
  width: 90px;
}

.accordion-button:not(.collapsed) {
  color: var(--negro);
  background-color: var(--rojo25);
}

.accordion-button::after {
  background-image: var(--bs-accordion-btn-icon)!important;
}
 
/*Calendario*/
.rdp {
  --rdp-cell-size: 40px!important;
  --rdp-accent-color: var(--rojo)!important;
  --rdp-background-color: var(--rojo25)!important;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: var(--rojo50)!important;
  --rdp-background-color-dark: var(--rojo75)!important;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color)!important;
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

/* DatePicker */
.react-date-picker__wrapper{
  color: #212529;
  border: 1px solid #ced4da!important;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
}